<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="beer"></ion-icon>
    </button>
    
    

    <ion-title>Codepads</ion-title>

  </ion-navbar>
</ion-header>



<ion-content padding>
  <ion-list no-lines>
    <button ion-item *ngFor="let item of items" (click)="onButtonClick(item)">
      <ion-icon [name]="item.icon" item-start></ion-icon>
      {{item.title}}      
    </button>
    <ion-list no-lines *ngIf = "buttonClicked">
        <button ion-item  *ngFor="let doc of selectedItem" >
         <ion-icon [name]="doc.icon" item-start></ion-icon>
         {{doc.title}}
      
         </button>
      </ion-list>
  </ion-list>
</ion-content>
